filterbuttons .container {
	padding-top: 6px;
	padding-right: 8px;
}

filterbuttons .container span {
	padding-left: 4px;
	cursor: pointer;
}

filterbuttons .container span i {
	font-size: 14pt;
	color: #DCE0E6;
}