.tile {
	font-weight: 700;
	width: 147px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.tile .main {
	color: #DCE0E6;
	position: absolute;
	top: 0; 
	left: 0;
	background-color: red;
	z-index: 9992;
}

.tile> div {
	height: 147px;
	width: 147px;
}

.tile .menu {
	position: absolute;
	top: 0;
	left: 0;
	left: 147px;
	z-index: 10;
}

.tile .cover-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	z-index: 555;
}

.tile .menu> table {
	background-color: #dce0e6;
}

tile table> tbody> tr> td {
	border: 3px solid #567ebb;
	width: 50%;
	color: #2B4C7E;
	vertical-align: middle;
	text-align: center;
	font-size: 25pt;
	opacity: 0.6;
}

tile table> tbody> tr> td:hover {
	opacity: 1.0;
}