.tile {
	color: #fff;
	font-weight: 700;
	width: 147px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.blurry {
	color: transparent;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.tile> div {
	padding: 5px;
	height: 147px;
	width: 147px;
}

.tile .menu {
	color: #fff;
	position: absolute;
	top: 0;
	left: 147px;
	z-index: 5;
	/*background-color: #fff;*/
	/*opacity: .2;*/
}